@import url(http://fonts.googleapis.com/css?family=Sue+Ellen+Francisco);

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
}

.the-whole-thing {
  position: absolute;
  width: 100%;
  top: 25%;
  text-align: center;
}

.who-am-i {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 72px;
  color: DimGray;
  margin-top: -66px;
  margin-left: -36px;
}

.contacting-me {
  padding-left: 25px;
}

.contacting-me a, .contacting-me a:visited {
  color: DimGray;
  font-size: 24px;
  padding: 0 0px;
}

.contacting-me a:hover {
  color: rgb(153,51,102);
}

.who-am-i.js, .contacting-me.js a {
  color: Whitesmoke;
}

.contacting-me.js a:hover {
  color: rgba(255,255,255,.5);
}
