<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="{{ site.tagline }}">
        <meta name="keywords" content="freelance,minnesota,web,development,">
        <meta name="author" content="{{ site.author.name }}">

        <title>{{ page.title }}</title>

        <link rel="apple-touch-icon" href="/assets/img/touch.png">
        <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">

        <!-- vendor css -->
        <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/vendor/syntax.css">
        <link rel="stylesheet" href="/assets/css/vendor/font-awesome.min.css">
        <!--[if IE 7]>
          <link rel="stylesheet" href="/assets/css/vendor/font-awesome-ie7.min.css">
        <![endif]-->

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/assets/css/grotr.css">

    </head>
    <body lang="en" id="">
      <div id="navigation">
        <nav id="nav"> 
          <ul id="navbar" class="collapsed">
            <a href="/"><li class="navitem" data-toggle="tooltip" data-placement="right" title="Home"><i class="icon-home"></i>&nbsp;</li></a>
            <a href="/portfolio"><li class="navitem" data-toggle="tooltip" data-placement="right" title="Portfolio"><i class="icon-folder-open"></i>&nbsp;</li></a>
            <a href="/cv"><li class="navitem" data-toggle="tooltip" data-placement="right" title="CV"><i class="icon-file-text"></i>&nbsp</li></a>
            <a href="/labs"><li class="navitem" data-toggle="tooltip" data-placement="right" title="Labs"><i class="icon-beaker"></i>&nbsp;</li></a>
          </ul>
        </nav>
      </div>
        <div class="container">
          <div class="row">
            <div class="row">
              <div class="header">
                <div class="col-12">
                  <img  class="img-responsive img-circle me" alt="blake grotewold" src="/assets/img/me.jpeg" />
                </div>
                <h1 class="title">Hi I'm <a href="/">Blake Grotewold</a></h1>
                <span class="tagline"> {{ site.tagline }} </span>
              </div>
            </div>

                {{ content }}

          </div> <!-- /row content -->
            <div class="footer row">
              <div id="email" class="col-12 centered">
                <a href="mailto:hello@blakegrotewold.com">{{ site.author.email }}</a>
              </div> 
              <br>
              <div id="logos" class="col-12 centered">
                <a target="_blank" href="http://www.facebook.com/{{ site.author.facebook }}"><i class="logo icon-facebook"></i></a>
                <a target="_blank" href="http://www.twitter.com/{{ site.author.twitter }}"><i class="logo icon-twitter"></i></a>
                <a target="_blank" href="http://www.linkedin.com/in/{{ site.author.linkedin }}"><i class="logo icon-linkedin"></i></a>
                <a target="_blank" href="http://www.github.com/{{ site.author.github }}"><i class="logo icon-github"></i></a>
              </div>
            </div>
            <br>
          </div> <!-- /footer -->


        </div> <!-- /container -->

        <script src="/assets/js/vendor/jquery-1.10.2.min.js" rel="javascript"></script>
        <script src="/assets/js/vendor/bootstrap.min.js" rel="javascript"></script>
        <script src="/assets/js/grotr.js" rel="javascript"></script>
    </body>
</html>
